/* Botões de download */
.btn-down{
    width: 330px;
    font-family: "Bai Jamjuree", sans-serif;
    margin: 10px;
    display: inline-block;
    font-weight: 600;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 15px 5px;
    font-size: 1rem;
    border-radius: 30px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #32C1AD;
    border-color: #2eaa98;
}

/* Segundo botão */
.btn-down2{
    background-color: #5f74ff;
    border-color: #5066f4;
}